/*this is background image*/
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:600|Poppins:200');

/*Add a black background color to the top navigation with white border*/
.topnav{
	display:inline-block;
	width:100%;
	font-size:17px;
	color:#333;
	margin:5px;
	border-bottom-color: #fff;
	overflow: none;
	float: left; 
	background-color:rgba(237,239,239,.3);
	padding:20px;
}
.topnav a{
	color:#f2f2f2;
	text-align:center;
	padding:14px 16px;

}
.topnav a.hover{
	background-color: #ddd;
	color:violet;
	padding: 14px 16px;
}

/*color to the active/current link*/
.topnav a.active{
	background-color: #fcfffe;
	color:violet;
	padding: 14px 16px;
}

.clearfix:after{
	visibility:hidden;
	display: block;
	font-size:0;
	content: "";
	clear:both;
	height:0;
}
.intro{
	float:center;
	background-color:rgba(34,16,84,.6);
	padding:30px;
	margin:40px;
	text-align: center;
}	

.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    border-radius: 15px; /* Rounded border */
    margin: 2px; /* Center the coupon */
    width: 15%;
    float:left;
}

.container {
    padding: 2px 20px;
    background-color: #221054;
    background-size: contain;
    margin:2px;
}

.promo {
    background: #676277;
    padding: 2px 16px;
}

.expire {
    color: pink;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  float: left;
  width:33.33%;
}

.column img {
  margin-top: 2px;
  vertical-align: middle;
}

.center {
    display: block;
    margin-left: 40px;
    margin-right: auto;
    padding: 40px;
    width: 40%;
}

body{
	text-align: center;
	background:url("https://static.pexels.com/photos/110854/pexels-photo-110854.jpeg") ;
	background-size:cover ;
	background-repeat:no-repeat;
	color:#fff;
	font-family:Helvetica;
}
map {
    display: inline;

}

h1{
	font-size:54px;
	font-family: 'Expletus Sans', cursive;
}

h2{
	text-align:center;
	color:#A7E8DC;
	margin:10px;
	font-size:32px;
	font-family: sans-serif;
	font-weight:bold;
}
h3{
	text-align:center;
	color:#fff;
	margin:10px;
}

p{
	font-size:16px;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}

ul{
	display: inline-block; 
	list-style: none;
}

div{
	font-size:1.2em;
	display:inline-block;
	margin: 10px;
}

a{
	color:#78FFF4;
}
footer{
	text-align: center;
	background-color: #302f33;
	padding:10px;
}


#slogan{
	font-size:14px;
	font-family: 'Poppins', sans-serif;
	margin:2px;

}

#columnleft{
	background-color:rgba(0,0,0,.5);
	width: 100%;
	padding:10px;
}
#three_column{
	background-color: rgba(0,0,0,.5);
	padding:2px;

}
#feature_ice_cream{
	width:50%;
}

#top {
	background-color:rgba(171,18,82,.3);
	padding:5px;
	float:right;
	width:15%;
	font-size:12px;
	margin:10px;
}

hr {
	width: 25%
}

#bottom{
	background-color:rgba(22,198,223,.3);
	padding:5px;
	float:right;
	width:100%;

}








