/*this is background image*/
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:600|Poppins:200');

/*Add a black background color to the top navigation with white border*/
.topnav{
	display:inline-block;
	width:100%;
	font-size:17px;
	color:#333;
	margin:5px;
	border-bottom-color: #fff;
	overflow: none;
	float: left; 
	background-color: #333;
	padding:20px;
}
.topnav a{
	color:#f2f2f2;
	text-align:center;
	padding:14px 16px;

}
.topnav a:hover{
	background-color: #ddd;
	color:violet;
	padding: 10px;
}

/*color to the active/current link*/
.topnav a.active{
	background-color: ##fcfffe;
	color:violet;
}

.clearfix:after{
	visibility:hidden;
	display: block;
	font-size:0;
	content: "";
	clear:both;
	height:0;
}
.intro{
	float:left;
	background-color:#221054;
	border-style: dotted;
	border-color: #A7E8DC;
	padding:10px;
	margin:auto;
}	

.columnright{
	float:right;

}
.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    border-radius: 15px; /* Rounded border */
    margin:none 0px; /* Center the coupon */
    width: 25%;
    float:left;
}

.container {
    padding: 2px 40px;
    background-color: #221054;
    background-size: contain;
    margin:2px;

}

.promo {
    background: #676277;
    padding: 2px 16px;
}

.expire {
    color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


body{
	text-align: center;
	background:url("https://static.pexels.com/photos/110854/pexels-photo-110854.jpeg") ;
	background-size:cover ;
	background-repeat:no-repeat;
	color:#fff;
	font-family:Helvetica;
}
map {
    display: inline;

}

h1{
	font-size:54px;
	font-family: 'Expletus Sans', cursive;
}

h2{
	text-align: center;
	color:#A7E8DC;
	margin:10px;
}
h3{
	text-align:center;
	color:#fff;
	margin:10px;
}

p{
	font-size:16px;
	text-align:left;
	font-family: 'Poppins', sans-serif;
}

ul{
	display: inline-block; 
	list-style: none;
}

div{
	font-size:1.2em;
	display:inline-block;
	margin: 30px;
}

a{
	color:#78FFF4;
}
footer{
	text-align: center;
	background-color: #302f33;
	padding:10px;
}


#slogan{
	text-orientation: italic;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
	margin:2px;
}
#columnleft{
	background-color: #4eed4e;
	width: 100%;
}
#two_column{
	background-color: white;
	border: 1px white solid;
	padding:2px;
	margin:auto 0;

}
#top {
	background-color:#b32963;
	border:1px white solid;
	padding:5px;
	float:right;
	width:62%;
}

#bottom{
	background-color: #676277 ;
	border:1px white solid;
	padding:5px;
	float:right;
	width:62%;

}







