@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:600|Poppins:200');
nav{
	display:inline-block;
	width:60px;
	font-size:20px;
	color:#78FFF4;
}

			
body{
	text-align: center;
	background-size:cover;
	background-image: ("https://pbs.twimg.com/media/CyAadkBXAAAHKt5.jpg");
	color:#fff;
	font-family:Helvetica;
}

hr{
	width:400px;
	color:#fff;
}
header{
	background-color: #FFED74;
}

nav{
	background-color: #E8C66A;
	display: block;
	padding: 10px;
	margin:20px;
}
aside{
	background-repeat: #FFC675;
}

article{
	background-color: #E89C6C;
}


h1{
	font-size:64px;
	font-family: 'Expletus Sans', cursive;
}

h2{
	text-align: center;
	color:#A7E8DC;
}
footer{
	text-align: center;
	background-color: #FF957E
}


p{
	font-size:28px;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}

ul{
	display: inline-block; 
}
.offer{
	font-size:50px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
}
div{
	display:inline-block;
	margin: 40px;
	background-color: #FFE2B8;
}

a{
	color:#78FFF4;
}

.slogan{
	text-orientation: italic;

}


